.container-sales {
  display: flex;
  align-self: flex-start;
  justify-self: flex-end;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--gray-dark);
  padding-top: 0px;
  margin-top: 0px;
}

.page-header-sales {
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: flex-end;
  background-color: var(--gray-dark);
  color: white;
  height: 6rem;
  padding-left: 4.8rem;
  padding-right: 10rem;
}

.card-grid {
  padding-top: 2.5rem;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2rem;
}
