.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--primary-light);
  color: var(--gray-dark);
}

.header-container {
  display: flex;
  height: 30vh;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15rem;
  padding-top: 5rem;
  width: 80%;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 15rem;
  flex-direction: row;
}

.home-button {
  background-color: var(--primary-dark);
  border-color: var(--primary-dark);
  color: white;
  width: 28%;
}

.pine-image {
  width: 20%;
}

.logo-image {
  width: 50%;
}

.img-container {
  width: 100%;
  height: 20%;
}

.header-image {
  width: 100%;
}

.title {
  font-size: 2.5rem;
  color: var(--gray-medium);
  margin-bottom: 20px;
  font-weight: normal;
}

.locations-title {
  font-size: xx-large;
}

.locations-subtitle {
  font-size: x-large;
  color: var(--gray-medium);
}

.locations-container {
  min-height: 30vh;

  padding-bottom: 10rem;
  padding-top: 5rem;
}

.card-group {
  display: grid;
  margin-top: 3.5rem;
  grid-template-columns: auto auto auto;
  gap: 3.5rem;
}

.card-line {
  display: grid;
  gap: 3rem;
}
