.header {
  display: flex;
  background-color: var(--primary-dark);
  justify-content: space-between;
  align-items: center;
  gap: 3.5rem;
  padding-right: 6%;
  color: white;
  height: 6rem;
  position: relative;
  width: 94%;
}

.pine-image {
  width: 4rem;
}

.logo-image {
  width: 50%;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 10rem;
  gap: 1rem;
  flex-direction: row;
}

.icons {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}

.header-name {
  align-self: center;
  font-size: medium;
  font-weight: bold;
  padding-right: 0.5rem;
}

.user-name {
  display: grid;
  grid-template-columns: auto auto;
}
